
//COLORS

$primary-color: #4A90E2;
$secondary-color: #c6f5d6;
$terciary-color: #eb9a20;
$button-text-color: #FFFF;
$background-color: #F4F4F4;
$background-items-color: #FFFF;
$border-color: #ccbfbf;



$font-color: #333333;
$sec-font-color:rgb(93, 89, 89);

$button-radius: 5px;
$card-radius: 10px;

$shadow: 4px -5px 15px -3px rgba(0,0,0,0.1);