
$primary-color: #4A90E2;
$secondary-color: #4ca350;

$background-color: #F4F4F4;
$font-color: #333333;
$border-color: #ccbfbf;

$terciary-color: #eb9a20; 

$button-radius: 5px;
$card-radius: 10px;

$shadow: 4px -5px 15px -3px rgba(0,0,0,0.1);