@use "reset.scss" as *;
@use "mixins.scss" as *;
@use "variables.scss" as *;
@use "toDo.scss" as *;
@use "toDoList.scss" as *;
@use "addToDo.scss" as *;
@use "timer.scss" as *;
@use "weather.scss" as *;
@use "app.scss" as *;

body{
    font-family: 'Roboto', sans-serif;
    background-color: $background-color;
    color: $font-color;
}
.container{

    max-width: 1200px;
    margin: 0 auto;
}
