@use "_variables.scss" as *;
@use "sass:color";



.todo-item {

    padding: 20px 15px;
    display: flex;
    gap: 50px;
    justify-content:space-between;
    border: 1px solid $border-color;
    border-radius: $card-radius;
    box-shadow: $shadow;
    margin-bottom:10px;
    font-size: 1.25rem;
    font-weight: 400;

    li {
        list-style-type: none;
        display:flex;
        flex-direction: column;
        justify-content: center;    
    }

    p {
        font-size: 0.9rem;
        color: $sec-font-color;
        margin-right: 30px;
        padding-top: 10px;
    }

    &-complete {
        border: 3px solid $secondary-color;
    }


}

.deadline{

    border: 1px solid;
    border-radius: 20px;
    padding: 5px 15px;
    font-weight: 500;
    margin-left: 10px;
    display: inline-block;

    &--over{

        color: #f41f1f;
        border-color: #f41f1f;
        background-color: #f5adad;
    }

    &--today{

        color: #f97316;
        border-color: #f97316;
        background-color: #fae4d4;
    }

    &--tomorrow{

        color: #cd9a02;
        border-color:   #cd9a02;
        background-color: #faebc1;
    }


}


.todo-buttons {

    display: flex;
    gap: 10px;

    .todo-btn {
        padding: 10px;
        border-radius: $button-radius;
        cursor: pointer;
        color: $button-text-color;
        font-weight:500;
        font-size: 1rem;
        align-self: center;
        box-shadow: $shadow;

        &-state{

            background-color: $background-items-color;
            border: 1px solid $primary-color;
            color: $primary-color;

                &:hover{
                    background-color: color.scale($primary-color, $lightness: 80%);
                }
        }

        &-delete{

            background-color: $background-items-color;
            border: 1px solid $terciary-color;
            color: $terciary-color;
    
            &:hover {
                background-color: color.scale($terciary-color, $lightness: 80%);
            }

        }

    }
    

}
