@use "_variables.scss" as *;
@use "sass:color";

.weather{

    padding: 20px;

    background-color: $background-items-color;
    border: 1px solid $border-color;
    border-radius: $card-radius;
    box-shadow: $shadow;

    &-header{

        border-bottom: 1px solid $border-color;
        padding: 10px 20px 20px;
    }

    &-body{

        padding: 20px;
    }
}

.weather-icon{

        width: 50%;
        height: auto;
    }

.weather-button{

    padding: 10px;
    border-radius: $button-radius;
    border: none;
    cursor: pointer;
    color: $button-text-color;
    background-color: $primary-color;
    margin: 0 auto;
    font-weight:500;
    font-size: 1rem;
    align-self: center;
    box-shadow: $shadow;

    &:hover{

        background-color: color.scale($primary-color, $lightness: 10%);
    }
}



